*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    position: relative;

    // FOR DEBUGGING PURPOSE
    // border: 1px solid #12fffc;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;

    // FOR DEBUGGING PURPOSE
    height: 5000px;
}