@mixin flex-row-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin flex-column-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@mixin size($w, $h) {
    width: $w;
    height: $h;
}

@mixin abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@mixin abs-center-offset($w, $h) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(calc(-50% + $w), calc(-50% + $h));
}