// COLOR
$color-primary: #efd9b1;
$color-red: #FF4A77;
$color-white: #ffffff;
$color-black: #303030;

$color-grey-bright: #ececec;
$color-grey-bright-2: #f8f8f8;

$color-grey-light: #9c9d9d;
$color-grey-dark: #898989;

// FONT
$font-family-1: 'Raleway', sans-serif;
$font-family-2: 'Mukta Mahee', sans-serif;
$line-height-section-title: .8%;


// UTILITIES
$u-margin-bottom-section-sm: 3.8rem;
$u-margin-bottom-section-md: 5rem;
$u-margin-bottom-section-lg: 10rem;

$row-max-width: 117rem;


