// COLOR
$color-primary: #efd9b1;
$color_white: #ffffff;
$color_black: #303030;


// FONT
$font-family-1: 'Raleway', sans-serif;
$font-family-2: 'Mukta Mahee', sans-serif;
$line-height-section-title: .8%;


// UTILITIES
$u-margin-bottom-section-md: 5rem;
