.btn {
// ------------ 基本定義 ------------
    &,
    &:link,
    &:visited {
        display: inline-block;
        padding: 1.7rem 0;
        
        background-color: $color-primary; 
        transform: translateY(0);
        transition: .15s;
        cursor: pointer;

        span {
            @include abs-center;
            width: 100%;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-family-1;
            font-weight: 600;
            font-size: 1.3rem;
            letter-spacing: 2px;
            color: $color-black;
            transition: .15s;
        }
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 1rem rgba($color-black, .15);
        span {
            font-size: 1.35rem;
            letter-spacing: .25rem;
        }
    }

    &:active,
    &:focus {

    }


// ------------ 尺寸 ------------
    &--normal {
        @include size(20rem, 4rem);
    }

// ------------ 樣式 ------------
    &--black {
        background-color: $color-black;
        color: white;
    }

    &--primary {
        background-color: $color-primary;
        color: $color-black;
    }

}