.btn {
// ------------ 基本定義 ------------
    &,
    &:link,
    &:visited {
        display: inline-block;
        padding: 1.7rem 0;
        border: none;
        
        background-color: $color-primary; 
        transition: box-shadow .15s;
        cursor: pointer;

        span {
            @include abs-center;
            width: 100%;
            text-align: center;
            text-decoration: none;
            text-transform: uppercase;
            font-family: $font-family-1;
            font-weight: 600;
            font-size: 1.3rem;
            letter-spacing: 2px;
            color: $color-black;
            transition: font-size .15s, letter-spacing .15s;
        }
    }

    &:hover {
        box-shadow: 0 1rem 1rem rgba($color-black, .15);
        span {
            font-size: 1.35rem;
            letter-spacing: .25rem;
        }
    }


// ------------ 尺寸 ------------
    &--normal {
        @include size(20rem, 4rem);
    }

    &--medium {
        @include size(30rem, 4rem);
    }

// ------------ 樣式 ------------
    &--black {
        background-color: $color-black;
        color: white;

        &:active {
            background-color: darken($color-black, 7%);
        }
    }

    &--primary {
        background-color: $color-primary;
        color: $color-black;

        &:active {
            background-color: darken($color-primary, 7%);
        }
    }

}